@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald&display=swap');


/* This give us more control over our box-model measurements when we go to position our elements within a design */
* {
    margin: 0;
    padding: 0;
    border: none;
}


body {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    color: #3a3a3a;
}

/* Heading and logo */

h1,
h2 {
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #252525;
}

#logo {
    float: left;
    font-size: 280%;
    margin-left: 30px;
}

/* Navigation links */

#menu {
    font-size: 110%;
    letter-spacing: 4px;
}

/* Horizontal alignment */

#menu,
#logo {
    line-height: 75px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
}


#menu a {
    text-decoration: none;
    /* In order to remove the underline that appears as default for hyperlinks */
    color: inherit;
}

#menu a:hover {
    border-bottom: 1px solid #3a3a3a;
}

.active {
    border-bottom: 1px solid #3a3a3a;
    /* Visual clue, to let the users know what page they are currently on */
}

/* Hero Image & Cover Text */

#hero-outer {
    height: 600px;
    width: 100%;
    overflow: hidden;
    /* clear the image below  the header and also ensure that when the image  
    is scaled up in size. The size increase  is hidden from view. And to do that we'll set  
    the overflow to "hidden". Overflow : hidden can  also be used as an alternative to clear : both. */

    position: relative;
    /* The parent of both the cover-text overlay  and the image is the hero-outer section.   
So we need to specifically set its position  to relative so that the child containers  
can set their absolute position  relative to it. */
}

#cover-text,
#cover-text h2 {
    color: white;
}

#hero-image {
    height: 600px;
    width: 100%;
    background: url('../images/hero-image.webp') no-repeat center center;
    /* "no-repeat" value  
    to prevent the image being repeated in the  event of it being smaller than the window.  
    We then set the image horizontally and vertically  by specifying the "center center" values. */

    /* Animates zoom effect on loaging page */
    animation-name: hero-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
    /* The image scales up beyond the 600px height set for the  section. The overflow : hidden masks off the  
edges of the resized image resulting in the zoom  effect, which gives a nice subtle animation. */
}

/* Creates the level of zoom for hero image */

/* A CSS animation is based on what are  called transitions and transformations.
The transformations change the state of  one or more elements and the transitions  
are responsible for the smoothness of that change.  An animation is defined using the @keyframes rule  
followed by an animation name of our own choosing.  In this case, we'll call the animation "hero-zoom". */

@keyframes hero-zoom {
    from {
        transform: scale(1);
        /* Our animation will  use the scale transform to increase the image size.  
        And how we do that is we give a scale a value of  1 to set our image to 100% of its normal size. */
    }

    /* And the final state of the animation transforms the  scale of the image up to 1.1 which is 110% of the  
original size - a 10% increase. Notice the shape  of the animation rule and the nested curly braces. */
    to {
        transform: scale(1.1);
    }
}

#cover-text {
    font-size: 130%;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;

    width: 300px;
    height: 200px;

    padding-top: 40px;
    padding-left: 10px;

    background-color: rgba(241, 109, 107, .7);
    /* We'll use rgba values so we can assign an opacity value as well.
    We'll set the opacity to .7 */

    /* Place our cover text at a fixed  position relative to its parent container. */

    bottom: 30px;
    right: 150px;

    /* And we'll need to fix it  in place by setting its position to "absolute". */

    position: absolute;
}

/* Club Ethos */

#club-ethos {
    height: 600px;
}

#left-about {
    padding-top: 30px;
    width: 33%;
    float: left;
}

#right-about {
    padding-top: 30px;
    width: 33%;
    float: right;
}

#center-about {
    width: 33%;
    margin: 0 auto;
}

hr {
    border-top: 1px solid #3a3a3a;
    width: 100%;
    margin: 5px 0;
}

.left-about-heading {
    width: 60%;
    float: right;
    line-height: 20px;
    clear: both;
    margin-bottom: 50px;
}

.right-about-heading {
    width: 60%;
    float: left;
    line-height: 20px;
    clear: both;
    margin-bottom: 50px;
}

.right-about-heading h2 {
    text-align: right;
}

.right-about-heading p {
    text-align: right;
}

#welcome {
    text-align: center;
    margin: 20px 0;
    font-size: 280%;
}

#circle-container {
    width: 300px;
    height: 300px;
    padding: 30px;
    border-style: solid;
    border-color: #ccc;
    border-width: 1px;
    border-radius: 50%;
    margin: 0 auto;
}

#circle-cover-bg {
    background: url('../images/ethos-center-image.jpg') no-repeat center center;
    height: 100%;
    border-radius: 50%;
}

/* Event times */


/* The image is less than 300px in height so the  browser is filling the gap. You can also set the  
repeat value in a separate property if you wish. This is what it looks like.
You might guess that the property is called "background-repeat" and its value will be "no-repeat".
Then we’ll set the background-size to “cover” so that the image will fill the allocated section dimensions when they are applied.
We'll set the background-position  to “center” and the width to 100%.  
Finally, we hide any potential image overflow. */
#times {
    background-image: url('../images/dublin-city.webp');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    overflow: hidden;
}

#times div {
    color: #fafafa;
    background-color: rgba(0, 0, 0, .6);
    width: 20%;
    /* We have 5 panels to represent 5 meetups.  
That means each panel should take 20% of  the screen width to display across the page. */
    /* We set the height of each panel to 300px.  Half the size of the sections above them.  
To make it work we will set the panels to float left so that they display horizontally within the flow of the page. */
    height: 300px;
    float: left;
    padding: 30px 0 0 10px;
    text-align: center;
    border: 2px solid white;
    box-sizing: border-box;
}

#times h2 {
    color: #fafafa;
}

/*  Footer */

footer {
    height: 150px;
    /* Give a height of 150px to maintain  the structural balance across the site.   */
}

.social-networks {
    text-align: center;
}

.social-networks > li {
    display: inline;
}

.social-networks i {
    font-size: 160%;
    margin: 1%;
    padding: 5%;
    color: #3a3a3a;
}

/* Gallery photos */

/* Set clear to “both”.  
We do this so that the photo section and  its contents display below the header.   */
#photos {
    clear: both;
    /* we set the line height to zero in order to  remove any horizontal gaps between the images. */
    line-height: 0;
    column-count: 4;
    /* Let’s get rid of the vertical gaps by setting the  column-gap to 0px. */
    column-gap: 0;
}

/* The gaps between the images are gone, but the  image sizing is still not right. Some are too big for the column,
some are too small. We'll fix this by  targeting the images within the photo section.  
We set the width for all the gallery images  to 100%. */
#photos > img {
    width: 100%;
}

/* Media queries */

/* For larger to medium screens size from 1200px wide and down */
@media screen and (max-width: 1200px) {
    #club-ethos {
        width: 65%;
        height: 1200px;
    }

    #welcome {
        padding: 30px 0;
        margin: 0;
    }

    #left-about, #right-about {
        width: 100%;
        float: left;
        padding: 0;
    }

    #center-about {
        clear: both;
        width: 100%;
        float: left;
        padding: 0;
    }

    #times > div {
        width: 100%;
        clear: both;
        height: 150px;
        padding: 0;
    }

    hr {
        display: none;
    }
}

/* For medium screen sizes from 950px wide and down */
@media screen and (max-width: 950px) {

    #menu {
        clear: left;
        float: left;
        margin-left: 30px;
        margin-bottom: 20px;
        line-height: 25px;
    }

    #cover-text {
        left: 0;
    }

    #club-ethos {
        width: 90%;
        height: 1200px;
        margin: 0 auto;
    }

    .left-about-heading, .right-about-heading {
        width: inherit;
    }

    .left-about-heading h2, .right-about-heading h2 {
        width: 100%;
        text-align: center;
    }

    .left-about-heading p, .right-about-heading p {
        text-align: center;
        padding: 0 20px;
    }

    #photos {
        column-count: 3;
    }
}

/* You can always work with min widths  as well if you're doing a mobile-first approach. */

/* And remember we'll add it below the  existing media queries already created. */

/* For small screen sizes */
@media screen and (max-width: 800px) {
    #photos {
        column-count: 2;
    }
}